.slider-control {
  display: flex;
  justify-content: space-between;
}

.slider-control__button {
  padding: 0;
  border: none;
  background-color: transparent;

  &--prev {
    margin-left: 5px;
  }

  &--next {
    margin-right: 5px;
  }

  @include vp-1199 {
    width: 50px;
    height: 50px;
    margin: 0;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    border-radius: 4px;
    outline: 2px solid $color-crimson;
  }
}

.slider-control__button svg {
  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.slider-control__button--prev  svg {
  transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}
