.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  list-style: none;
  justify-content: flex-end;
  width: 200px;

  @include vp-1199 {
    width: 97px;
  }
}

.social-list__link {
  @include hover-focus {
    opacity: 0.6;
    outline: none;
  }
}
