.trainers {
  min-width: 320px;
}

.trainers__wrapper {
  padding: 0 4.9% 91px;
  width: 100%;
  max-width: 1294px;
  position: relative;

  @include vp-1199 {
    padding: 0 101px 100px;
  }

  @include vp-767 {
    padding: 0 47px 70px;
  }
}

.trainers__title {
  margin: 0 0 48px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    display: flex;
    justify-content: center;
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 32px -5px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.trainers__slider {
  max-width: 1160px;
  width: 100%;
}

.trainers__slider-control {
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;

  @include vp-1199 {
    top: 43%;
    left: 3.6%;
    right: 3.6%;
  }

  @include vp-767 {
    top: 48%;
    left: 5px;
    right: 5px;
  }
}
